.input-pass {
    border-radius: 20px;
}

img {
    max-width: 300px;
}

div p {
    color: red;
}

pre {
    font-family: monospace;
    font-size: 24px;
}

.fa-heart {
    color: red;
    font-size: 100px;
}

/* body#index2 {
    background-color: pink;
} */

section.container{
    min-height: 100vh;
}

.parallax-container {
    height: 100vh; /* Ajuste a altura conforme necessário */
    overflow: hidden;
    position: relative;
  }
  
  .parallax-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.ytimg.com/vi/6Aaw7LzNQ88/maxresdefault.jpg'); /* Substitua pela imagem desejada */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }